---
import { Image } from 'astro:assets';
import placeholder from '../../assets/tetris/tetris_river.webp';
---

<div>
  <Image
    class="project-image border border-black"
    src={placeholder}
    alt="Tetris on the Green Building"
    densities={[1, 2, 3]}
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>
