---
import { Image } from 'astro:assets';
import banshee from '../../assets/banshee/banshee.webp';
---

<div>
  <Image
    class="project-image border  border-black"
    src={banshee}
    alt="Image of robot for FIRST Robotics Competiton"
    densities={[1, 2, 3]} 
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>
