---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import Awards from "../components/awards/Awards.astro";
import Award_internals from "../components/awards/Award_internals.astro";
import Carousel from "../components/Carousel";
---

<Layout title="Illuminating Awards | Vaughn Khouri">
  <div class="max-w-screen-md m-auto p-4 my-4 antialiased">
    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
      FIRST<br />
      <span class="text-gradient">Illuminating Awards</span>
    </h1>

    <Awards />

    <p class="lead text-white">
      <i>Illuminating awards I made for 8033's 2024 graduating class of Seniors</i>
    </p>

    <br />

    <h2 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl dark:text-white">
      Summary
    </h2>

    <p class="text-white">
      For several years now, it's been tradition for 8033's graduating seniors to receive custom awards at the end of their last season. In 2024, that task fell to me - with the biggest senior class in 8033's history.<br /><br />

      The challenge here was to create something unique, visually appealing, and timeless, without making it impossible to make several of them. As with most of my projects, designing the awards started in Onshape CAD.<br /><br />
    </p>

    <Award_internals />

    <p class="text-white">
      <br /><br />
      The final design is simplistic and most parts can be laser-cut. For the illumination, a 12v FCOB LED strip is wired through a DC-DC step-up into a simple USB-C BMS module, which is potted in a 3D-printed insert for a cleaner outside look. This is connected to an 18650 cell, which powers the strip. A switch is wired between the BMS and the boost converter, ensuring passive drain is negligible.<br /><br />

      The case is machined in two halves on a CNC router and assembled with wood screws. The acrylic top element is laser-cut, engraved, and then epoxied into the award with a 5-minute cure clear epoxy. As simple as each award was, making 18 of them proved to be a challenge. Turning it into a mini-training exercise, I enlisted the help of several other members on 8033, and we banged out all the awards in two weekends.<br /><br />
    </p>

    <h3 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl dark:text-white">
      Gallery
    </h3>

    <Carousel client:load images={[
      './src/assets/awards/slide_1.jpeg',
      './src/assets/awards/slide_2.png',
      './src/assets/awards/slide_3.jpg',
      './src/assets/awards/slide_5.jpeg',
      './src/assets/awards/slide_6.jpeg',
      './src/assets/awards/slide_7.jpg',
    ]} />

    <p class="text-white">
      <br />
      For finishing touches, the bases were stained with a light polyurethane and then cork bases were added to the bottom of each award so they would sit flatter on a desk or shelf. If you're interested, 
      <a href="https://cad.onshape.com/documents/5c1c91e617837dc9c768fa09/w/aafc19be2bbdbf6d7b33bbe7/e/d1fd7aa1ea845318c790a473" target="_blank" class="underline inline">check out the CAD here</a>!
      <br /><br />
    </p>

    <BackButton />
  </div>
</Layout>

<style>
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .gallery-image {
    max-width: 100%;
    max-height: 500px;
    margin: 0 auto;
    display: block;
    transition: opacity 0.3s ease;
  }

  #gallery-image {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }

  .gallery-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
    padding: 0.6rem;
    transition: background-color 0.3s ease;
  }

  #prev-button {
    left: 3rem;
  }

  #next-button {
    right: 3rem;
  }

  .gallery-nav-button:hover {
    background-color: #e5e5e5;
  }

  .gallery-nav-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #0a62f0;
  }

  .gallery-nav-button svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #000;
  }
</style>
