---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import FormcakesImage from "../components/formcakes/Formcakes.astro";
import Carousel from "../components/Carousel";
---

<Layout title="FormCakes | Vaughn Khouri">
  <div class="max-w-screen-md m-auto p-4 my-4 antialiased">
    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl text-white">
      FormHacks 2026<br /><span class="text-gradient">FormCakes</span>
    </h1>
    <FormcakesImage />
    <p class="text-white">
      <i>Pancakes via injection molding.</i>
      <br /><br />
    </p>
    <h2 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl text-white">
      Background
    </h2>
    <p class="text-white">
      I did this project in 24 hours with two of my friends, James (my roommate) and John (also known as IBuildStuff on YouTube). The goal was to create a machine that could inject pancake batter into a mold, heat the mold, and the eject the pacake onto a plate.
      <br /><br />
      For the mold, we decided to use a 3D benchy, which I quickly modeled in Onshaoe with lofted walls and simplified geometery. It unfortuately turned out that we couldn't print the mold from ceramic resin as originally planned, so I had to machine an aluminum one at the very last minute. I did this on the VF2, and it was my first introduction to 3D adaptive pathing.
    </p>
    <br />
    <video class="border border-black" autoplay muted loop playsinline>
      <source src="https://x0rnmezct8.ufs.sh/f/R4XuC0BXcUqQlltSvJPaAVdGbpN0ZhWfPRYHzkueS6m3Fx7X" type="video/mp4" />
    </video>
    <br>
    <p class="text-white">
    The rest of the machine came together with lead screws, stepper motors, a relay to switch 120V AC to ceramic heaters, and a solenoid which directed an air jet that ejected the pancake. We had to do a lot of tuning to get the right amount of batter and the right heating time, but amazingly, it actually worked.
    </p>
    <br />
    <h3 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl text-white">
      Gallery
    </h3>
    <Carousel client:load images={[
      '/assets/images/formcakes/gallery/0.webp',
      '/assets/images/formcakes/gallery/1.webp',
      '/assets/images/formcakes/gallery/2.webp',
      '/assets/images/formcakes/gallery/3.webp',
    ]} />
    <br />
    <BackButton />
  </div>
</Layout>
