---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import FormcakesImage from "../components/formcakes/Formcakes.astro";
---

<Layout title="FormCakes | Vaughn Khouri">
  <div class="max-w-screen-md m-auto p-4 my-4 antialiased">
    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl text-white">
      FormHacks 2026<br /><span class="text-gradient">FormCakes</span>
    </h1>
    <FormcakesImage />
    <p class="text-white">
      <i>Pancakes via injection molding.</i>
      <br /><br />
    </p>
    <h2 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl text-white">
      Writeup Coming Soon
    </h2>
    <p class="text-white">
      This writeup is in progress. Check back soon for the full story.
    </p>
    <br />
    <BackButton />
  </div>
</Layout>
