---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import CustomImageScroll from "../components/CustomImageScroll.astro";
import CTA from "../components/CTA.astro";
import Contact from "../components/Contact.astro";

// Professional Work Components
import Anaren from "../components/Anaren.astro";

// Project Components
import Banshee from "../components/banshee/Banshee.astro";
import Flex from "../components/flex/Flex.astro";
import Powerplay from "../components/powerplay/Powerplay.astro";
import Trident from "../components/trident/Trident.astro";
import Cart from "../components/cart/Cart.astro";
import Awards from "../components/awards/Awards.astro";
import Shield from "../components/shield/Shield.astro";
import Claws from "../components/claws/Claws.astro";
import Kart from "../components/kart/Kart.astro";
import Field from "../components/field/Field.astro";
---

<Layout title="Portfolio | Vaughn Khouri">
  <div id="contents">
    <main class="container">
      <div class="mb-16">
        <Heading />
        <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400 font-light lg:text-xl">
          Maker, leader, mechatronics engineer. I get cross-disciplinary projects across the finish line while upholding quality work on all fronts. Proficient in CAD (Onshape, Solidworks, F360). Proficient in CAM (F360). Skills include manual machining, soldering (micro and SMD w/ rework station), MIG welding, carpentry, Arduino and RPi electronics / firmware development, etc.
          <br /><br />
          Here are some of the projects I've worked on over the years - some of them for competitive robotics, others for summer programs, and many just for fun. If you like what I make, or just want to chat, 
          <a href="#contact" class="underline text-gray-300">don't hesitate to reach out.</a>
        </p>
      </div>

      <h2 class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2">
        Functional Product Concepts
      </h2>
      <div class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <Card
            href="flex"
            title="Flex"
            body="A portable cable workout machine that can stick to surfaces with suction, complete with a personal trainer app. Can simulate up to 45 lbs of weight via brushless DC motor."
            tags="Product concept, Hardware Design, Raspberry Pi, Bluetooth"
          >
            <div class="max-w-full">
              <Flex />
            </div>
          </Card>
        </div>
        <div>
          <Card
            href="powerplay"
            title="PowerPlay"
            body="Full size, self-contained see-saw capable of generating electricity and connecting to a cloud backend. Designed to pair with a kid-friendly social app."
            tags="Product concept, Hardware Design, Woodworking, Arduino, Cloud"
          >
            <div class="max-w-full">
              <Powerplay />
            </div>
          </Card>
        </div>
      </div>
      
      <h2 class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2">
        FIRST Robotics
      </h2>
      <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        <div>
          <Card
            href="banshee"
            title="Banshee"
            body="FRC 8033's robot for the 2024 FIRST Robotics Competition, Crescendo, designed around simplicity and robustness. #9 in CA, Top 16 worldwide."
            tags="FIRST, Hardware Design, 3D printing, CAM"
          >
            <Banshee />
          </Card>
        </div>
        <div>
          <Card
            title="Battery Cart"
            body="Custom cart I designed to match existing tables. Capable of charging 6 SLA batteries and storing 8. Built from CNC'd 3/4 plywood with tab-and-slot construction."
            tags="FIRST, Woodworking, Cable Management, CAM"
            href="batterycart"
          >
            <Cart />
          </Card>
        </div>
        <div>
          <Card
            title="Illuminating Awards"
            body="Gifts I made for 8033's 2024 graduating seniors. CNC'd and laser-engraved stained oak base, laser-cut and engraved acrylic element, illuminated by internal LED strip."
            tags="FIRST, Electronics, Laser Cutting"
            href="awards"
          >
            <Awards />
          </Card>
        </div>
      </div>
      
      <h2 class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2">
        Interactive Costumes
      </h2>
      <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        <div>
          <Card
            title="Captain America's Electromagnetic Shield"
            body="Custom electromagnet grip, steel shield insert and power pack enable the wearer to catch and throw the shield from distance."
            tags="Costumes, Electronics, 3D printing, Woodworking"
            href="shield"
          >
            <Shield />
          </Card>
        </div>
        <div>
          <Card
            title="Poseidon’s Water-spraying Trident"
            body="Backpack mounted water tank and air compressor mix air and water to fire high-pressure mist from the end of a trident."
            tags="Costumes, Electronics, Pneumatics, Woodworking"
            href="trident"
          >
            <Trident />
          </Card>
        </div>
        <div>
          <Card
            title="Wolverine's Retractable Claws"
            body="Backpack mounted compressor and wrist-mounted pneumatic pistons rapidly extend and retract 3D-printed claws."
            tags="Costumes, Electronics, 3D printing, Pneumatics, Woodworking"
            href="claws"
          >
            <Claws />
          </Card>
        </div>
      </div>
      
      <h2 class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2">
        Large-scale Steel Fabrication
      </h2>
      <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        <div>
          <Card
            title="Go-Kart"
            body="Powered by an aftermarket-tuned 212cc 4-stroke engine, capable of 45+ MPH. Frame welded from mild steel."
            tags="Steel fabrication, ICE"
            href="kart"
          >
            <Kart />
          </Card>
        </div>
        <div>
          <Card
            title="FRC Field Perimeter"
            body="Full-size (26 by 54 ft) field perimeter built for FIRST Robotics Competition. Designed in identical sections that disassemble for storage."
            tags="FIRST, Steel fabrication, CAD"
            href="field"
          >
            <Field />
          </Card>
        </div>
      </div>
      
      <div class="my-8">
        <Contact />
      </div>
    </main>
  </div>
</Layout>

<style is:global>
  main {
    margin: auto;
    padding: 0.75rem;
    width: 1100px;
    max-width: 100%;
    color: white;
    line-height: 1.6;
  }

  .project-image {
    max-width: 100% !important;
    overflow: hidden;
  }

  .video-wrapper {
    background: #111111;
    padding: calc(1.5rem - 1px);
    line-height: 1.4;
    border-radius: 8px;
    margin-bottom: 2rem;
  }

  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
  }

  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }

  .instructions strong {
    color: rgb(var(--accent-light));
  }

  .link-card-grid {
    display: grid;
    gap: 0;
    padding: 0;
  }

  .read-more {
    color: #fff;
  }

  details {
    position: relative;
    top: -1px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    max-width: 900px;
  }

  details > div {
    max-width: 830px;
  }

  summary:hover {
    cursor: pointer;
  }
</style>

<script></script>
