---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import InverterImage from "../components/inverter/Inverter.astro";
import { Image } from "astro:assets";
import internal from "../assets/inverter/internal.webp";
import shield from "../assets/inverter/shield.webp";
---

<Layout title="MY26 HV Inverter Box | Vaughn Khouri">
  <div class="max-w-screen-md m-auto p-4 my-4 antialiased">
    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl text-white">
      MIT Motorsports<br /><span class="text-gradient">MY26 HV Inverter Box</span>
    </h1>
    <InverterImage />
    <p class="text-white">
      <i>150kW at 600V.</i>
      <br /><br />
    </p>
    <h2 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl text-white">
      Background
    </h2>
    <p class="text-white">
      The quad inverter appeared somewhat suddenly as a deliverable after we determined Liong Ma's custom inverters were ready to go on the car. It needed to house a cold plate and 4 inverters with significant consideration for EMI, grounding, isolation, harnessing, and also bus bars to power all four inverters.<br><br>The box itself is folded sheet metal, laser welded and then finished. This was made by ZTL out of house. The inside houses a cold plate which is made in two parts and then brazed. An internal geometry brings water in a zig zag pattern across the 4 inverters, which are packaged on either side.
    </p>
    
    <br />
    <Image src={internal} alt="MY26 HV Inverter Box internals" class="w-full border border-black" densities={[1, 2, 3]} />
    <br />
    <p class="text-white">
    The two copper bus bars were bent against 3D printed jigs and then wrapped in insulative self-bonding tape. A high-performance thermal interface material couples the discrete FETs to heat spreaders which are clamped to the cold plate. One significant challenge here was board deflection, which caused uneven heating across the 6 MOSFETs. This was ultimately solved by adding more screw holes and spacers under the board which we tuned to create the optimal TIM compression.<br><br>I milled aluminum shields for the MCUs onboard each inverter, which significantly helped with EMI and thermals on each STM32.
    </p>
    <br />
    <Image src={shield} alt="MCU EMI shield" class="w-full border border-black" densities={[1, 2, 3]} />
    <br />
    <h2 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl text-white">
      Conclusion
    </h2>
    <p class="text-white">
    I want to give a huge shoutout to Liong Ma for doing the majority of the assembly work for this box. I designed it to be way too tightly packaged, which made harnessing really difficult. We still got it assembled though, resulting in a huge (5x) decrease in volume and mass (5kg+) compared to last year's inverter boxes. I definitely learned one lesson with this project: wires take up a lot of space.
  </p>
  
    <BackButton />
  </div>
</Layout>
