---
import { Image } from 'astro:assets';
import field from '../../assets/field/fieldbuilt.png';
---

<div>
  <Image
    class="project-image border  border-black"
    src={field}
    alt="Image of field perimeter for FIRST Robotics Competiton"
    densities={[1, 2, 3]} 
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>
