---
import { Image } from 'astro:assets';
import placeholder from '../../assets/formcakes/formcakes.webp';
---

<div>
  <Image
    class="project-image border border-black"
    src={placeholder}
    alt="FormCakes pancake machine"
    densities={[1, 2, 3]}
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>
